.shopPage .container{
    width: 100%;
    margin: 10px auto;
}

.shopPage .shopPageWrapper{
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.topImgWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.shopPage h6{
    color: #000 ;
    font-size: 12px !important;
}
.whatsApp svg{
    font-size: 47px;
}
.follow{
    background: #ffffff;
    color: rgb(45, 45, 241);
    font-weight: bold;
    font-size: 15px;
    padding: 6px 12px;
}
.unfollow{
    color: #ffffff;
    background-color: rgb(45, 45, 241);
    font-weight: bold;
    font-size: 15px;
    padding: 6px 12px;
}
.follow:hover{
    background: #ffffff;
}
.unfollow:hover{
    background: #ffffff;
    color: rgb(45, 45, 241);
}
@media (max-width: 599.95px) {
    .css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
        display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    opacity: 0.8;
    }
}
@media screen and (max-width: 560px) {
    .topImage{
        height: 250px;
    }
    .topImgWrapper{
        flex-direction: column;
        justify-content: center;
    }
}