.myAccountTopBg{
    background: url('../../assets/images/about-header-bg.jpg');
}
.myAccount .css-19kzrtu{
    padding-top: 5px !important;
}
.myAccount .myAccBox{
    padding-top: 0px;
}
.followContent{
    height: 60vh;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}