.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cancelOrderPage .cancellation-form {
    display: flex;
    flex-direction: column;
}

.cancelOrderPage .cancellation-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.sml-hd{
    font-size: 16px;
    font-weight: 400;
}
.cancelOrderPage .form-group {
    margin-bottom: 15px;
}

.cancelOrderPage .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cancelOrderPage .form-group input,
.cancelOrderPage .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cancelOrderPage .form-group textarea {
    resize: vertical;
}

.cancelOrderPage .btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.cancelOrderPage .btn-primary:hover {
    background-color: #0056b3;
}

.cancelOrderPage .message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
