.homeBox{
    background-color: #f5f5f5;
}
.seoContent{
    background: #fff;
    color: grey;
    width: 100%;
    border-bottom: 1px solid #887f7f;
}
.seoContent .seoContentWrapper{
    width: 95%;
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 20px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.seoContent .seoContentWrapper h2{
    font-size: 13px;
    font-weight: bold;
}
.seoContent .seoContentWrapper p{
    font-size: 10px !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.container-wrapper{
    background-color: #fff;
    padding: 10px;
}
.text-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(46, 43, 43);
}
.text-box h4{
    font-weight: 900;
    color: black;
    font-size: 18px;
}
.card-container-wrapper{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 150px;
    height: auto;
}
.card-container .swiper-slide{
    width: 150px !important;
}
.card-container-wrapper .img_wrapper{
    width: 150px;
    height: 150px;
}
.card-container-wrapper .img_wrapper img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.card-container-wrapper .card_text_box{
    width: 150px;
    height: 110px;
    padding: 5px;
}
.card-container-wrapper .card_text_box h5{
    font-size: 15px;
    font-weight: 300;
}
.transperant-btn{
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  animation:slidebg 2s linear infinite;
    /* color: #2d2df5;
    font-weight: bold;
    border: 1px solid #2d2df5;
    transition: all 0.3s ease-in-out; */
}

.transperant-btn:hover{
    /* background-color: #2d2df5;
    color: #fff; */
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  animation:slidebg 2s linear infinite;
}
.box{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box p{
    font-weight: bold;
}
@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
@media only screen and (max-width: 768px){
    .seoContent .seoContentWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 550px){
    .seoContent .seoContentWrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}