.icon-boxes-container {
    padding-top: 0.5rem;
    padding-bottom: 2.8rem;
    background-color: #fff !important;
    margin-bottom: 20px;
}
.icon-boxes {
    display: flex;
    flex-wrap: wrap;
}
.icon-box-side {
    font-size: 1.4rem;
}

.f-icon-box-icon{
    font-size: 30px;
    color: #333;
}
.icon-box-side .icon-box-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #333;
}
.topBannerBtn{
  font-size: 15px;
  background-color: #ffffff;
  padding: 7px 10px;
  border-radius: 2px;
  color: #333;
}
.topBannerBtn:hover{
  opacity: 0.7;
  color: #464444;
  text-decoration: none !important;
}

.top-banner-title a{
  color: #333 !important;
  font-size: 20px;
  line-height: 20px;
}
.top-banner-title a:hover{
  text-decoration: none;
}
@media screen and (max-width: 992px) {
    .topBanner{
        margin-top: 40px;
    }
}
@media screen and (max-width: 768px) {
    .topBanner{
        margin-top: 10px;
    }
}